* {
    margin: 0px;
    padding: 0px;
}

#m_contenedorGeneral {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

div#m_volver {
    position: fixed;
    font-weight: bold;
    top: 10px;
    right: 10px;
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 5px;
}

section#m_mesa {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

div#m_comanda {
    margin-left: 10px;
    margin-right: 10px;
}

section#m_mesa h1 {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

section#m_menu {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

div#m_botones {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

div.m_opciones {
    width: 100%;
    margin-bottom: 20px;
}

div.m_opciones h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(174, 174, 174);
}

.m_desplegables {
    display: none;
}

.m_desplegables li {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 5px;
}

.m_desplegables li .articulo {
    margin-left: 80px;
}

.m_desplegables li>span {
    margin-right: 80px;
}

#m_contenedorGeneral li {
    list-style: none;
}

#m_botones #m_añadir{
    margin: 8px;
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 5px;
}
#m_botones #m_cerrarMesa{
    margin: 8px;
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 5px;
}