/* ------------------------------- ADMIN AREA --------------------------------------- */
#a_gestion{
    margin-left: 20px;
    margin-bottom: 50px;
}
#a_tabla{
    padding-left: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.a_tablaH, .a_tablaR {
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.a_rendimiento{
    display: block;
    width:30%;
    height: 30px;
}
.a_ids{
    height: 30px;
    width: 10%;
}

.a_tablaR input{
    margin: 10px 5px;
    width: 30%;
    height: 30px; ;
}
#a_resultados{
    margin-left: 20px;
    margin-bottom: 30px;
}
#a_gestion button{
    margin: 20%;
    margin-top: 20px;
    margin-bottom: 0%
    ;
}

/* ----------------------------------------- Ticket ------------------------ */
#t_header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    text-align: right;
    font-size: 20px
}
#t_head{
    text-align: center;
    margin-bottom: 20px;
}
#t_head p{
    margin: 0;
}
#t_body{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 20px;
    align-content: center;

}
.t_fila{
    display: flex;
    flex-direction: row;
}
.t_fila p{
    margin: 2px;
}
.t_articulos{
    text-align: left;
}
#t_pagar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 /* ----------------------------------------- Pago -------------------------------------- */
